
/* .moon{
  position:absolute;
  top:20px;
  left:30px;
  width:70px;
  height:70px;
  background: #E0C75B;
  border-radius:50%;
  box-shadow: 0 0 25px #E0C75B;
} */

/* .moon::after{
  content:"";
  position:absolute;
  width:100px;
  height:100px;
  background: #0d3811;
  border-radius:50%;
  left:20px;
  top: -10px;
} */


/* 
header div {
  background: url("../assets/img/bg.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 100%;
} */




/* body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  background: #f5f5f5;
}

.container {
  max-width: 420px;
  margin: auto;
  padding: 12px;
}

input, select, button {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 16px;
}

.card {
  position: relative;
  width: 100%;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

/* الاسم داخل البطاقة */
/* #cardName {
  position: absolute;
  left: 5%;
  right: 5%;
  text-align: center;
  font-weight: bold;
  color: gold;
  text-shadow: 1px 1px 6px rgba(0,0,0,0.4);
  font-size: 6vw; /* افتراضي */
/* }


.actions {
  display: flex;
  gap: 10px;
}






@media (max-width: 480px) {
  #cardName {
    font-size: 7vw;
    top: 50%;
  }

  .actions {
    flex-direction: column;
  }
}



@media (min-width: 768px) {
  .container {
    max-width: 600px;
  }

  #cardName {
    font-size: 32px;
  }
}


@media (min-width: 1024px) {
  .container {
    max-width: 700px;
  }

  #cardName {
    font-size: 36px;
  }
}

 */  